body {
    background-color : rgba(207, 207, 222, 0.768);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-decoration: underline;
    text-align: center;
}
h4 {
    text-align: center;
    text-decoration: underline;
}
h5 {
    text-align: center;
}


div.content {
    margin: 0px 10vw 5vw 10vw;
}