body {
    background-color : rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: lighter;
}
.image { grid-area: image;} 
.summary { grid-area: summary; }
.beavers { grid-area: beavers; }
.soft-play { grid-area: soft-play; }
.pool { grid-area: pool; }
.extra-curricular { grid-area: extra-curricular; }
.contact-details {
    grid-area: contact-details;
    display: block;
    /* width: 50%; */
}
.pool { grid-area: pool;}
.brief-school-details {
    grid-area: brief-school-details;
    display: block;
    white-space: nowrap;
    /* width: 50%; */
}
.interests { grid-area: interests;}
/* .interests-skills { grid-area: interests-skills;} */
.school-info { grid-area: school-info;}
/* .gcse-list { grid-area: gcse-list;} */
/* .mandatory-list { grid-area: mandatory-list;} */
.dofe { grid-area: dofe;}
.explorers { grid-area: explorers;}

img {    
    width:500px;
    border-radius: 50%;
    display: block;
    width: 50%;
    margin: 2.5vw auto 2.5vw auto;
}

.padding {
    padding: 20px;
}
.background-blue {
    background-color: #7fbae0 !important;
}

.font-size {
    font-size: 1vw;
}

.font-size-bigger {
    font-size: 1.05vw;
}

a.mobile {
    display: none;
  }
a.desktop {
    display: inline;
  }
@media screen and (max-width: 600px) {
    a.desktop {
      display: none;
    }
    a.mobile {
        display: inline;
        margin-left: 5px; /* Adjust the value as needed */
        margin-right: 5px; /* Adjust the value as needed */
      }
  }


.grid-container {
    display: grid;
    grid-template-areas:
'image image summary'
'image image beavers'
'contact-details brief-school-details soft-play'
'interests interests pool'
'interests interests extra-curricular'
'interests interests dofe' 
'interests interests explorers'
'interests interests work-experience'
;
    /* gap: 10px; */
    /* background-color: #0000009f; */
    /* padding: 10px; */
}

.image {
    background-color: rgb(0, 0, 0);
}


.grid-container > div  {
    background-color: #c0cecf;
    /* text-align: center; */
    /* padding: 20px 0; */
    /* font-size: 30px; */
}

.wrapping {
    white-space: pre-line;
    font-size: 1vw;
    font-weight: bolder;
}
.grid-container {
    display: grid;
    grid-template-columns: 15vw 15vw 50vw;
    /* grid-template-columns: 1fr 2fr; */
  }

h1 {
    text-align: center;
    /* font-size: 350%; */
    font-size: 2vw;

    /* background-color : rgba(0, 0, 0, 0.211); */
    font-weight: bolder;
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
    text-align: center;
    font-weight: lighter;
}
h4 {
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
}
h5 {
    text-align: center;
    font-weight: lighter;
    font-size: 1vw;
}
h6 {
    text-align: center;
    text-decoration: underline;
}
div.content {
    margin: 0vw 10vw 0vw 10vw;
}
