body {
    background-color : rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.image { grid-area: image;} 
.summary { grid-area: summary; }
.beavers { grid-area: beavers; }
.soft-play { grid-area: soft-play; }
.pool { grid-area: pool; }
.extra-curricular { grid-area: extra-curricular; }
.contact-details { grid-area: contact-details;}
.pool { grid-area: pool;}
.brief-school-details { grid-area: brief-school-details;}
.interests-skills { grid-area: interests-skills;}
.school-info { grid-area: school-info;}
.gcse-list { grid-area: gcse-list;}
.mandatory-list { grid-area: mandatory-list;}
.dofe { grid-area: dofe;}
.explorers { grid-area: explorers;}

img {    
    width:500px;
    border-radius: 50%;
    display: block;
    width: 60%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-areas:
'image summary'
'image beavers'
'contact-details soft-play'
'brief-school-details pool'
'interests-skills gcse-list'
'interests-skills gcse-list'
'extra-curricular mandatory-list' 
'dofe explorers'
;
    gap: 10px;
    background-color: #000000;
    padding: 10px;
}

.grid-container > div {
    background-color: #afc8e4;
    /* text-align: center; */
    /* padding: 20px 0; */
    /* font-size: 30px; */
}

.grid-container {
    display: grid;
    grid-template-columns: 25vw 52.5vw 25vw 25vw;
  }

h1 {
    text-align: center;
    font-size: 350%;
    background-color : rgba(152, 152, 167, 0.211);
    font-family:Georgia ;
    font-weight: lighter;
}
h2 {
    text-decoration: underline;
    text-align: center;
}
h4 {
    text-align: center;
    text-decoration: underline;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
    text-decoration: underline;
}
div.content {
    margin: 0px 10vw 0px 10vw;
}